version: "3.8"
 
services:

  formlet-mysql:

    image: mysql:8.0

    container_name: formlet-mysql

    restart: always

    environment:

      MYSQL_ROOT_PASSWORD: root@123

      MYSQL_DATABASE: myfarmlet

    volumes:

      - formlet_mysql_data:/var/lib/mysql

      - ./backend/db.sql:/docker-entrypoint-initdb.d/db.sql

    ports:

      - "3307:3306"

    networks:

      - formlet-network
 
  formlet-backend:

    build: ./backend

    container_name: formlet-backend

    restart: always

    depends_on:

      - formlet-mysql

    env_file:

      - ./backend/.env

    environment:

      - PORT=8010

      - DB_HOST=formlet-mysql

      - DB_USER=root

      - DB_PASSWORD=root@123

      - DB_NAME=myfarmlet

    ports:

      - "8010:8010"

    networks:

      - formlet-network
 
  formlet-frontend:

    build: ./frontend

    container_name: formlet-frontend

    restart: always

    depends_on:

      - formlet-backend

    ports:

      - "8090:80"

    networks:

      - formlet-network
 
volumes:

  formlet_mysql_data:
 
networks:

  formlet-network:

    driver: bridge

 