.contact-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2700;
    /* Higher than AccountModal */
}

.contact-modal-container {
    background: #FDFCF8;
    width: 90%;
    max-width: 500px;
    padding: 40px;
    border-radius: 4px;
    position: relative;
    font-family: "Roboto", sans-serif;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.contact-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #333;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-title {
    font-family: "Domine", serif;
    font-size: 32px;
    font-style: italic;
    color: #4b3e2f;
    margin-bottom: 5px;
    font-weight: 400;
}

.contact-underline {
    width: 100px;
    height: 1px;
    background-color: #333;
    margin: 0 auto 30px auto;
}

.contact-success-msg {
    margin-bottom: 25px;
    color: #4b3e2f;
}

.success-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.success-text {
    font-size: 14px;
}

.contact-divider {
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.contact-intro {
    font-size: 14px;
    color: #333;
    margin-bottom: 25px;
    line-height: 1.5;
    text-align: left;
}

.contact-options {
    text-align: left;
    margin-bottom: 30px;
}

.contact-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.contact-option label {
    font-size: 14px;
    color: #4b3e2f;
    padding-right: 20px;
    line-height: 1.4;
    cursor: pointer;
}

.contact-option input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex-shrink: 0;
}

.save-preferences-btn {
    background-color: #01BF64;
    /* Maroon */
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.save-preferences-btn:hover {
    background-color: #01BF64;
}