
# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore uploads (but keep the folder explanation/empty placeholder if any)
uploads/*
!uploads/.gitkeep

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
