.hero-curve {
    top: -40px;
  width:100%;
  height:160px;
  background:#317a35;
  position:relative;
  z-index:2;
}

.hero-curve::after {
  content:"";
  position:absolute;
  bottom:-1px;
  left:0;
  width:100%;
  height:120px;
  background:#f4f1ec;
  clip-path: polygon(0 60%, 15% 55%, 35% 65%, 55% 50%, 80% 60%, 100% 52%, 100% 100%, 0 100%);
}
