.steps-section {
  background: #f4f1ec;
  padding: 80px 0;
  text-align: center;
  font-family: Georgia, serif;
}

.steps-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 0 20px;
}

.step-box {
  width: 300px;
}

.step-img {
  width: 100%;
  border-radius: 16px;
  background: white;
  padding: 40px;
}

.step-title {
  margin-top: 24px;
  font-size: 28px;
  color: #3a2a19;
  font-weight: normal;
  line-height: 1.3;
}

.step-description {
  margin-top: 20px;
  font-size: 16px;
  color: #3a2a19;
  line-height: 1.7;
  font-family: Arial, sans-serif;
}


.Header{
    margin-top: -10px;
}
@media (max-width: 900px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step-box {
    width: 90%;
  }

  .step-img {
    padding: 20px;
  }
}
