.aboutfarmlet-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.aboutfarmlet-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.aboutfarmlet-content {
  width: 100%;
  max-width: 1600px;
}

.aboutfarmlet-image {
  width: 100%;
  height: auto;
  display: block;
}
