/* .acct { display:flex; gap:14px; align-items:center; font-size:14px; }
.acct .delivery { color:#333; padding-left: 10px; font-family: "work sans" sans-serif;}
.delivery .line1 {
  display: block;
   line-height: 0.3;
  margin: 0;
}

.delivery .line2 {
  display: block;
  padding-left: 25px;   
   line-height: 0.3;
  margin: 0;
}
.acct .signin { text-decoration:underline; color:#111; font-family: "work sans" sans-serif;   padding-left: 25px;
 display: inline-block;  
  line-height: 1;          
  margin: 0;
  padding: 0; 
  text-indent: 25px;
 }

.create {
  display: block;
  padding-left: 0;  
    text-indent: 0;        
  margin: 0;
}
.acct .avatar {
  width:34px;height:34px;border-radius:50%;display:flex;align-items:center;justify-content:center;
  background:#111;color:#fff;font-size:15px;
}

.acct i {
  font-size: 30px;   
} */