/* 
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.farmlet-card {
  background: #f3e8d7; 
  width: 95%;
  max-width: 700px;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
}


.farmlet-title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Farmlet Sans", sans-serif;
  color: #2b4221;
  margin-bottom: 15px;
}


.farmlet-desc {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}


.farmlet-list {
  text-align: left;
  margin: 0 auto 25px auto;
  max-width: 450px;
  font-size: 15px;
  color: #333;
  line-height: 1.7;
}


.farmlet-btn {
  background: #01BF64;       
  color: white;
  padding: 14px 0;
  width: 60%;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.farmlet-btn:hover {
  background: #01BF64;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
} 
 */
