.footer {
  /* background: url("https://i.ibb.co/GQs7PWc/green-bg.png"); */
  background-color: #61B860;
  background-size: cover;
  padding: 60px 40px;
  color: black;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60px;
  margin-bottom: 40px;
}

.footer-column h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-column p {
  margin: 6px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-column p:hover {
  text-decoration: underline;
}

.footer-column img.store-img {
  display: block;
  width: 150px;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-column img.store-img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.social-icons {
  gap: 15px;
  margin-top: 15px; 
  align-items: right;
}
.social-icons i {
  font-size: 5px;
  margin-right: 15px;
  color: black;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons i:hover {
  color: #555555;
}

.footer-bottom {
  text-align: left;
  margin-top: 20px;
}

.footer-bottom p {
  margin-bottom: 10px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .store-img {
    width: 130px;
  }
}