.footer {
  background: url(https://media.riverford.co.uk/images/footer-bg-small.webp) no-repeat center top rgba(0, 0, 0, 0);
  background-size: cover;
  padding: 60px 40px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60px;
  margin-bottom: 40px;
}

.footer-column h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-column p {
  margin: 6px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-column p:hover {
  text-decoration: underline;
}

.footer-column img.store-img {
  display: block;
  width: 150px;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-column img.store-img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.social-icons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 10px;
  transform: translateX(-100px);
}

.social-icon {
  width: 40px;
  height: 40px;
  color: white;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.social-icons a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.social-icon:hover {
  background-color: rgb(92, 116, 119);
  color: #01BF64;
  transform: scale(1.1);
}
.footer-bottom {
  text-align: left;
  margin-top: 20px;
}

.footer-bottom p {
  margin-bottom: 10px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .store-img {
    width: 130px;
  }
}