.hero-features {
  margin-top: -40px;       
  background: #f4f1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  padding: 100px 0;
  text-align: center;
}

.feature-box img {
  width: 90px;              
  height: auto;
  object-fit: contain;
  margin-bottom: 12px;
}

.feature-box p {
  color: #000;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

@media (max-width: 768px) {
  .hero-features {
    flex-direction: column;
    gap: 400px;
    padding: 50px 0;
    margin-top: 0;
  }
}