.hero {
   /* strong pink - adjust to match screenshot */
  /* color: #fff; */
  /* padding: 48px 0 80px; */


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;

}
.hero-inner {
    /* background: #61B860; */
  /* max-width:1200px; */
  margin:0 auto;
  display:flex;
  gap:24px;
  align-items:center;
  padding:0 20px;
}
@media (max-width:900px){
  .hero-inner { flex-direction:column; text-align:center; padding-bottom:40px; }
}
