.hero-features {
    margin-top: -40px;
  background:#f4f1ec;
  display:flex;
  justify-content:center;
  gap:140px;
  padding:80px 0;
  text-align:center;
}

.feature-box img {
  width:90px;
  margin-bottom:12px;
}

.feature-box p {
  font-family: "caveat", cursive;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.hero-features {
  background: #f4f1ec;
  display: flex;
  justify-content: center;
  gap: 140px;
  padding: 80px 0;
  text-align: center;
}

.feature-box p {
  color: black;     
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  line-height: 1.2;
}

