/* Main Navbar */
.main-navbar {
   height: 72px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  background: #F8F3EA;
  font-family: sans-serif;

}
.nav-left {
margin-left: 30px;
}
.nav-logo {
   height: 85px;         
  width: 200px;          
  cursor: pointer;
  object-fit: contain;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  position: relative;
 background: transparent;

}

.nav-center li {
  padding: 26px 20px;
  
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.nav-center li.active {
  border-bottom: 3px solid #01BF64;
  background-color: #dbf1e7;
  color: #000;

}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  background: white;
  width: 325px;
  margin: 0 30px;   
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.right-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
  padding: 16px 10px;
  border-bottom: 3px solid transparent;
}

.right-item span {
  font-size: 14px;
  line-height: 20px;
}

/* Pink highlight same as left nav */
.right-item.active,
.right-item:hover {
  border-bottom: 3px solid #01BF64;
  background-color: #dbf1e7;
  color: #000;
}

/* Icons style */
.right-item svg {
  font-size: 18px;
}
/* Submenu Bar */
.submenu {
  background-color: #ffffff;
  padding: 12px 25px;
  display: flex;
  justify-content: center;   
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  font-size: 14px;
  font-weight: 500;
  color: #222;
}

/* Submenu Items */
.submenu-item {
  cursor: pointer;
  margin: 0 25px;              /* Equal spacing on both sides */
  white-space: nowrap;         /* Prevents text from breaking */
}

.submenu-item:hover {
  color: #01BF64;              /* Riverford pink hover */
}
