.nav-wrap {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Arial, sans-serif;
  
    
}
.nav-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4px 14px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  height: 80px;
}
.nav-left { display:flex; gap:28px; align-items:center; }

.logo-img img {
  
  width:160px;
  height: auto;
 
  
}
.nav-left { display:flex; gap:12px; align-items:center;}

.logo-img img {
  width: 70px;        
  height: auto;
  margin-top: -10px
}

.logo {
  font-weight:700;
  font-size:22px;
  letter-spacing:1px;
  
  
}

.main-links a {
  margin-right:18px;
  color: #000;
  text-decoration:none;
  font-size:18px;
  font-family: "work sans" sans-serif;
  font-size:16px;
  font-family: “Work Sans”,sans-serif;
}
.nav-right { display:flex; gap:16px; align-items:center; }

.nav-submenu { border-top:1px solid #f3f0ee; background: #fff;  height: 60px;}
.nav-submenu img {
  width: 160px;           
  height:auto;
  margin-left: 70px;      
}

.submenu-inner {
  max-width:1200px; margin:0 auto; padding:10px 20px; display:flex; gap:22px; overflow:auto;
}
.submenu-inner a { color:#333; text-decoration:none; white-space:nowrap; font-size:14px; }