@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap');

.hero-container {
  width: 100%;
  background-color: #61B860;
  text-align: center;
  color: white;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 80px;
}

.hero-slide {
  padding: 120px 0 140px;
  position: relative;
}

.percent {
  font-size: 110px;
  font-weight: 500;
  margin-bottom: 20px;
}

.line {
  font-size: 35px;
  margin: 5px 0;
}

.highlight {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 35px;
  background: white;
  color: black;
  font-size: 32px;
  border: 3px solid black;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 95px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
  font-weight: 300;
}

.left { left: 120px; }
.right { right: 120px; }

.hero-bottom {
  margin-top: -80px;
}

.veg-img {
  width: 750px;
}

.join {
  font-size: 30px;
  margin-top: 20px;
}

.big-text {
  font-size: 90px;
  margin: 20px 0 40px;
}

.start-btn {
  padding: 15px 60px;
  font-size: 26px;
  background: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
