@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap');

.hero-container {
  width: 100%;
  background-color:#01BF64;
  text-align: center;
  color: white;
  font-family: 'Amatic SC', cursive;
  padding-bottom: 60px;
  font-weight: bold;
  
}

.hero-slide {
  padding: 120px 0 140px;
  position: relative;
}

.percent {
  display: flex;
  justify-content: flex-start;
  font-size: 100px;
  font-weight: 500;
  padding-top: -20px;
  top: -130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  margin-top: -50px;
  font-size: 35px;
  margin: 5px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -200px;
}

.highlight {
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  background: white;
  color: black;
  font-size: 35px;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -220px;
}

.arrow {
  position: absolute;
  top: 60%;
  font-size: 200px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transform: rotate(-360deg);
  font-weight: 200;
  top: 140px;
}

.left { left: 40px; }
.right { right: 40px; }

.hero-bottom {
  margin-top: -150px;
  font-family: "Work Sans",sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -220px;
  font-size: 30px;


}

.veg-img {
  width: 630px;
}

.join {
  font-size: 30px;
  margin-top: 20px;
}

.big-text {
  font-size: 150px;
  margin: 20px 0 40px;
  font-family: 'Amatic SC',sans-serif;

}

.start-btn {
  padding: 15px 60px;
  font-size: 26px;
  background: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
