@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap');

.hero-container {
  width: 100%;
  background-color: #01BF64;
  text-align: center;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  
}

.hero-slide {
  padding: 120px 0 140px;
  position: relative;
}

.percent {
  display: flex;
  justify-content: flex-start;
  font-size: 90px;
  font-weight: 500;
  padding-top: -20px;
  top: -130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  margin-top: -50px;
  font-size: 35px;
  margin: 5px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -200px;
}

.highlight {
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  background: white;
  color: black;
  font-size: 35px;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -220px;
}

.arrow {
  position: absolute;
  top: 60%;
  font-size: 150px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transform: rotate(-360deg);
  font-weight: 200;
  top: 140px;
}

.left { left: 40px; }
.right { right: 40px; }

.hero-bottom {
  margin-top: -350px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.veg-img {
  width: 880px;
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.join {
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 30px;
}

.hero-bottom img {
  width: 800px;
  max-width: 90%;
  text-align: center;
}

button {
  background: white;
  color: black;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  width: 355px;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-bottom {
    font-size: 20px;
  }
  
  .join {
    font-size: 20px;
  }
  
  .veg-img {
    width: 100%;
  }
  
  .hero-bottom img {
    width: 100%;
  }
  
  button {
    width: 90%;
    font-size: 18px;
  }
}