.steps-section {
  background: #f4f1ec;
  padding: 90px 0;
  text-align: center;
  font-family: 'Amatic SC' , cursive;
}

.steps-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 0 30px;
}

.step-box {
  width: 400px;
}

.step-img {
  width: 100%;
  border-radius: 18px;
  background: white;
  padding: 50px;
}

.step-title {
  margin-top: 26px;
  font-size: 30px;
  color: #3a2a19;
  font-weight: normal;
  line-height: 1.3;
}

.step-description {
  margin-top: 24px;
  font-size: 18px;
  color: #3a2a19;
  line-height: 1.5;
  font-family: Arial ,sans-serif;
}


.Header{
    margin-top: -15px;
    font-size: 30px;
}
@media (max-width: 900px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step-box {
    width: 90%;
  }

  .step-img {
    padding: 30px;
  }
}