/* src/Components/Testimonials/Testimonials.css */


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Georgia&display=swap');


.testimonials {
    background-color: #01BF64;
  padding: 40px 20px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  border: 0;
}

.testimonials::before,
.testimonials::after {
  content: none !important;
}

.testimonials *,
.testimonials *::before,
.testimonials *::after {
  border-left: 0 !important;
  border-right: 0 !important;
}

.testimonials-inner {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.testimonials-title {
  font-family: 'caveat', cursive;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 45px 0;
}

.testimonials-grid {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.testimonial {
  max-width: 420px;
  text-align: center;
}

.quote-mark {
    font-size: 78px;
  line-height: 0.7;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 15px;
}

.testimonial-text {
  font-family: 'caveat', cursive;
  font-size: 27px;
  line-height: 1.5;
  margin: 0 0 28px 0;
  font-weight: 550;
}

.highligth,
.highligh {
  background-color: #f1e9d7;
  color: #2e2400;
  padding: 4px 9px;
  border-radius: 3px;
  font-weight: 700;
}


@media (max-width: 900px) {
  .testimonials {
    padding: 60px 16px;
  }

  .testimonials-title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .testimonials-grid {
    flex-direction: column;
    gap: 30px;
  }

  .testimonial {
    max-width: 100%;
    text-align: center;
  }

  .quote-mark {
    font-size: 60px;
    margin-bottom: 8px;
  }

  .testimonial-text {
    font-size: 18px;
  }
/* 
  .testimonial-author {
    font-size: 12px;
  } */
}
/* MOBILE SLIDER */
.testimonials-mobile {
  display: none;
}

@media (max-width: 768px) {
  /* hide desktop */
  .testimonials-grid {
    display: none !important;
  }

  .testimonials-mobile {
    display: block ;
    position: relative;
    margin-top: 20px;
    text-align: center;
  }

  .mobile-card {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
  }

  .testimonial-text {
    font-size: 20px !important;
    line-height: 1.4;
  }

  .quote-img {
    width: 70px;
    margin-bottom: 10px;
  }

  /* ARROWS FIX – EXACT LIKE RIVERFORD */
  .arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 38px;
    background: none;
    border: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
  }

  .left {
    left: 15px;
  }

  .right {
    right: 15px;
  }
}
